#imgs{
    position: sticky;
    max-width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    .img_cls{
        width: auto;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        .show_imgs{
            height: 100vh;
            width: auto;
            transform: scale(1.1);
        }
    }

    .filter{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba($color: #001049, $alpha: 0.6);
    }

    #img_ctr{
        position: absolute;
        top: 40%;
        right: 1rem;
        width: auto;
        height: 1rem;
        //transform: translateY(-100%);
        .img_ctrs{
            display: block;
            cursor: pointer;
            width: 1rem;
            height: 1rem;
            clip-path: circle(0.3rem);
            background: rgba($color: #fff, $alpha: 0.5);
            border: 1px solid rgb(167, 167, 167);
            stroke: $color4;
            padding: 0.7rem;
            transition: all 0.3s ease;
        }
        .active_img_ctr{
            clip-path: circle(0.4rem);
            background: #fff;
            transition: all 0.3s ease;
        }
    }
}

@media screen and (max-width:1024px) {
}